
nav{
    text-align:center;
    grid-area: nav;
    padding-top: 50px;
  }
  nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  font-family: 'Megrim', cursive;
  }
  a:link {
    text-decoration: none;
    color: black;
  }
  
a:visited {
    text-decoration: none;
    color: black;
  }
  
  a:hover {
    text-decoration: underline;
    color: rosybrown;
    
  }
  
  a:active {
    text-decoration: underline;
  }