/* 

.section {
  overflow-x: hidden;
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
 
}

.parallax::after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transform: translateZ(-1px) scale(1.7);
  background-size: 100%;
  z-index: 10;
  perspective: 2px;
}


.static 
    {height:100vh ;
    background:white ;
}


.bg1::after {
  background-image: url('/assets/BLMJoshPeace.gif');
  background-repeat: no-repeat;
  perspective: 2px;
} */

/* about me section */
/* .bg2::after {
  height:100vh;
  background-image: url('/assets/lara_portrait.jpg');
  background-repeat: no-repeat;
  perspective: 2px;

}
.bg3::after {
  height:100vh;
  background-image: url('');
  background-repeat: no-repeat;
  perspective: 2px;

} */


.parallax-wrapper {
  width: 100vw;
  height:100vh;
  padding-top:20vh;
  box-sizing: border-box;
}
.regular-wrapper {
  z-index: 2;
  position: relative;
  height:100vh;
  padding-top:20vh;
  background-color: rgb(255, 252, 230);
}
.regular-wrapper2 {
  z-index: 2;
  position: relative;
  padding-top:10vh;
  padding-bottom: 10vh;
  background-color: rgb(0, 0, 0);
}
.name{
  font-family: 'Bellota', cursive;
}  
#changingword{
  font-family: 'Bellota', cursive;}


h1{
  font-size: x-large;
}

/* .parallax-wrapper::before {
  content:"";
  width: 100vw;
  height: 100vh;
  /* background-image: url(/images/sunrise.svg); */
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
} */


html {
  overflow: hidden;
}
body {
  height: 100vh;
  perspective: 1px;
  transform-style: preserve-3d;
  overflow-x:hidden;
  overflow-y:auto;
}
h1{
  font-family: 'Fredericka the Great', cursive;}

.parallax-wrapper {
  transform-style: preserve-3d;
}

/* .parallax-wrapper::before {
  transform:translateZ(-1px) scale(2);
} */

/* .parallax-wrapper::before {
  z-index: -1;
} */

.name{
  color:black;
  font-family: ;
}
footer{
  grid-area:footer;
}
footer p{
  font-size:2em;
}

footer li {
  display:inline;
}

footer ul {
  max-width: 640px;
  margin: 2em auto;
  padding:0;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-size: 6px;
}
footer ul li{
  list-style: none;
  align-self:flex-end;
}
footer ul li a {
  text-decoration:none;
  color: black;
  opacity:.6;
  transition: .3s;
}
footer ul li a:hover {
  text-decoration:none;
  color: rgb(163, 83, 83);
}

footer svg {
  width: 100px;
}

footer p{
  font-size: 1em;
}
